
<meta http-equiv="refresh" content="5; url=/Home/Index">
<link rel="stylesheet" href="~/css/Index.css" />
@model Usuarios.Models.User

<div class="login-box"  id="caja2">
  <h2>Bienvenido</h2>

    <div class="user-box">
      @if (TempData["usuario"] != null)
        {

        <h2 id="Title">@TempData["usuario"]</h2>
        }

    </div>
    <div class="user-box">
      @if (TempData["hora"] != null)
        {   
            @if (TempData["hora"] != null)
            {
                DateTime hora = (DateTime)TempData["hora"];
                <h1 id="info">ENTRADA: Día: @hora.ToString("dd") hora: @hora.ToString("h:mm:ss tt")</h1>
            }
        } 
    </div>
    <div class="user-box">
      @if (TempData["hora"] != null)
        {   
            @if (TempData["salida"] != null)
            {
                DateTime hora = (DateTime)TempData["salida"];
                <h1 id="info2">SALIDA: Día: @hora.ToString("dd") hora: @hora.ToString("h:mm:ss tt")</h1>
            }
        } 
    </div>
    <button  type="submit" id="visaje" disabled>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <form action="@Url.Action("Detalles", "User", new {id = TempData["documento"]})" method="post">
    <button id="detalles" type="submit">
        Historico
    </button>
    </form>
</div>


